.SubRec {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
}

  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust gap as needed */
    
  }
  
  .container1, .container2 {
    display: flex;
    background-color: #bea286;
    
  }
  
  .column {
    flex: 1; /* Equal width columns */
  }

